@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:wght@500&display=swap');


.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
  height: 800px !important;
  color: black;
  height: auto;
}
.products > p {
  color: var(--dark-1, #5E6E89);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.6px; /* 153.333% */
  letter-spacing: 0.1px;
  margin: 0 0 20px 0 !important;
}
.products > h2 {
  color: #0B254B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 57.6px; /* 144% */
  letter-spacing: -0.9px;
  margin: 20px 0 0 0 !important;

}
.productCards {
  width: 70%;
  height: auto;
  display: grid;
 grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-around;
  
}
.card {
  width: 255px;
  height: 250px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-inline: 30px;
  margin-bottom: 50px;
  background-color: white;
  transition: 0.4s;
}
.card:hover{
  transform: scale(1.03);
}
.card img {
  width: 100%;
  height: 175px;

  border-radius: 8px 8px 0 0;
  cursor: pointer;
}
.info {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  height: 45px;
  padding: 10px;
}
.info div {
  width: 100%;
}
.titre {
 
  color: #1D293F;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  display: flex;
  text-align: start;
  font-style: normal;
  font-weight: 500;
  line-height: 27.6px; /* 172.5% */
  letter-spacing: -0.9px;
  display: flex;
width: 203px;
height: 30px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}
.titre h3 {
  margin: 6px;
}
.prix {

flex-shrink: 0;
  color: var(--green, #56B280);
text-align: right;
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 27.6px; /* 138% */
}
.prix :first-child {
  margin: 6px 6px 10px 0;
}
