/*modal:*/

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:wght@500&display=swap");

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 75%;
  height: auto;
  max-height: 95%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  font-family: "Roboto", sans-serif;
}

.form {
  padding-bottom: 35px;
  position: relative;
}

/*header & footer*/
/*header:*/
.progressBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 10%;
  margin-top: 10px;
  margin-inline: 65px;
}

.progressBar img {
  margin: 9px 0 22px 0;
}

.progressBar h3 {
  margin: 0;
  font-size: 12.5px;
}

/*footer:*/
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}

.button-next {
  border-radius: 4px;
  background: var(--green, #56b280);
  height: 30px;
  color: white;
  border: none;
  width: 150px;
  cursor: pointer;
}

.button-previous {
  background-color: transparent;
  color: #56b280;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

/*Details Form:*/

.DetailsFormContainer {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 65px;
}

.formofXPart {
  width: 80%;
}
.contactForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contactForm h4,
.shippingAddress h4 {
  font-weight: 900;
  margin: 0;
}

.contactForm p {
  font-size: 12px;
}

.contactForm p span {
  color: #56b280;
  cursor: pointer;
}

.contactForm p span:hover {
  text-decoration: underline;
}

.solofield {
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: solid 1px #818181;
}

.check label {
  font-size: 12.5px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.check.contact {
  margin-bottom: 50px;
}
input[type="checkbox"] {
  accent-color: #56b280;
}

.shippingAddress {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.shippingAddress h4 {
  margin-bottom: 7px;
}
.field-align.two {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 47.5%);
  gap: 5%;
  height: auto;
  border: none;
  padding-left: 5px;
}

.duofield {
  width: 100%;
  height: 25px;
  padding: 5px;
  background-color: white;
  border: solid 1px #818181;
}
.field-align.three {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 31.66%);
  gap: 4.98%;
  height: auto;
  border: none;
  padding-left: 5px;
}

.triofield {
  width: 100%;
  height: 25px;
  padding: 5px;
  background-color: white;
  border: solid 1px #818181;
}

.triofield.select,
.triofield.select > * {
  position: relative;
  width: 95%;
  color: black;
  height: 36px;
  border: solid 1px #818181;
}

.triofield.select select,
.triofield.select option {
  width: 100%;
  padding: 5px;
  background-color: white;
  border: solid 1px #818181;
  appearance: none;
  -webkit-appearance: none;
}

.triofield.select::before {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #56b280;
  pointer-events: none;
}

.selectCountry {
  background-color: white;
  border: solid 1px #818181;
  color: black;
  margin: 3px;
  margin-left: 5px;
  width: 104%;
  height: 33px;
}

/*Shipping form*/

.contactShipto,
.PaymentShipInfos,
.twochecksbox {
  border-radius: 5px;
  border: solid 0.5px #818181;
  width: 400px;
  margin: 35px;
}
.contactShipto hr,
.PaymentShipInfos hr,
.twochecksbox hr {
  width: 80%;
}
.contactShipto div,
.PaymentShipInfos div,
.twochecksbox label {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  margin-block: 8px;
  position: relative;
}

.contactShipto div h4,
.PaymentShipInfos div h4 {
  margin-inline: 10px;
  font-size: 14px;
}

.contactShipto div :last-child,
.PaymentShipInfos div :last-child {
  color: #56b280;
  position: absolute;
  right: 5px;
  margin-left: 5px;
}

.contactShipto div :first-child,
.PaymentShipInfos div :first-child {
  color: #818181;
}
.contactShipto div input,
.PaymentShipInfos div input {
  background-color: transparent;
  border: none;
  width: 70%;
}

.contactshipinput {
  position: absolute;
  left: 67px;
}

.shippingMethod {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 35px;
  margin-bottom: 200px;
}

.shippingMethod h4 {
  margin: 0;
}
.shipcheck.shipmethod {
  border-radius: 5px;
  border: solid 0.5px #818181;
  width: 400px;
  margin: 15px 0 45px 0;
}

.shipcheck.shipmethod label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  font-size: 14px;
}

.shipcheck.shipmethod label > span {
  color: #272727;
}

/*payment form*/

.PaymentShipInfos {
  border: solid 0.5px #56b280;
}

.PaymentShipInfos hr {
  color: #56b280;
}

.paymentMethod .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, #bbe8bb, #69c069, #66bd8d);
  color: green;
  border-radius: 8px 8px 0 0;
}

.paymentMethod .header > * {
  margin-inline: 15px;
}
.paymentMethod .cardcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Creditcard {
  border: 1px solid #818181;
  border-radius: 9px;
}

.solofield.payment {
  width: 90%;
  border: 0.5px solid #6c6a6a;
  color: black;
}

.solofield.payment.first {
  margin-top: 25px;
}

.field-align.two.payment {
  margin-left: 43px;
  margin-top: 10px;
  margin-bottom: 35px;
  gap: 2%;
}

.field-align.two.payment .duofield {
  width: 87%;
  border: 0.5px solid #6c6a6a;
}

.taxInformations .solofield {
  border: 0.5px solid #6c6a6a;
  width: 87%;
}

.DetailsFormContainer.payment {
  margin-top: 0px;
}

.billingAddress {
  margin-bottom: 105px;
}

.twochecksbox hr {
  width: 90%;
}

.twochecksbox {
  margin: 0;
}
.twochecksbox input {
  margin-left: 15px;
}

.checkmark.payment {
  font-size: 14px;
  margin-left: 25px;
}

.billingAddress,
.taxInformations,
.paymentMethod {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

/*Confirmed*/

.confirmedpanier h2 {
  font-size: 30px;
  margin-block: 15px;
}

.confirmedpanier h5 {
  font-size: 15px;
  color: #56b280;
  margin: 0;
}

.confirmedpanier p {
  font-size: 12px;
  color: #6c6a6a;
  margin-bottom: 40px;
}

.confirmedpanier div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmedpanier div button {
  margin: 15px;
}

.confirmedpanier div .button-next {
  width: 200px;
}
